#meteo_today {
  padding: 0;
  margin: 0;
  width:100%;
  max-width: 240px;
}
.meteo-temperature {
  color: #ffffff;
  font-size: 2.5em;
  line-height: 1.3em;
  padding: 0;
  text-align: center;
}
.meteo-conditions {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
